
# Flutter SDK
flutter/

# Python
doctr_env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific
output/
logs/
excel_dump.txt

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Flutter/Dart build files & caches
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/doc/api/
**/ios/Flutter/.flutter-plugins
**/ios/Flutter/.flutter-plugins-dependencies
**/ios/Flutter/GeneratedPluginRegistrant.h
**/ios/Flutter/GeneratedPluginRegistrant.m
**/ios/Flutter/flutter_export_environment.sh
**/android/app/src/main/java/io/flutter/plugins/
**/android/local.properties
**/android/key.properties
**/android/.gradle/
**/windows/flutter/ephemeral/
**/windows/flutter/Generated*.cmake
**/windows/flutter/generated_plugins.cmake
**/windows/CMakeCache.txt
**/windows/CMakeFiles/
**/linux/flutter/ephemeral/
**/linux/flutter/generated_plugins.cmake
**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.h
**/macos/Flutter/GeneratedPluginRegistrant.m
**/macos/Flutter/flutter_export_environment.sh

# Secrets & Local Configurations
.env
backend/.env
**/serviceAccountKey.json

# Crash Logs & Large Text Files
crash_log.txt
crash_only.txt
crash_utf8.txt
*.log
*.zip

# Local test data
backend/input/*.pdf
CodeLink.txt
